/* HEADER STYLES */
h1.bluesky-title {
    padding-left: 40px;
    background: url('/icons/bluesky.png') no-repeat left center;
    background-size: 32px 32px;
}

h1.linkding-title {
    padding-left: 40px;
    background: url('/icons/linkding.png') no-repeat left center;
    background-size: 32px 32px;
}

h1.gotosocial-title {
    padding-left: 40px;
    background: url('/icons/gotosocial.png') no-repeat left center;
    background-size: 32px 32px; 
}

h3.linkding-title {
    font-size: 1em;
    margin-top: 5px;
    padding-left: 20px;
    background-size: 16px 16px;
}

h3.linkding-title a {
    color: #999;
    text-decoration: none;
    border-bottom: 1px dotted #555;
}

h3.linkding-title a:hover {
    border: none;
    color: #ccc;
}

/* POST CONTAINER */
article.asides-post {
    margin-bottom: 2em;
    padding-bottom: 2em;
}

/* POST DATE */
.asides-post-date {
    font-size: 1.4em;
    text-align: center;
    font-weight: 700;
    margin: 2em auto;
    border-bottom: 1px solid #333;
    padding-bottom: 1em;
}

.hapd { /* home-asides-post-date */
    font-size: 1.2em;
    border: none;
    margin: 1em auto;
}

article.asides-single .asides-post-date {
    font-size: 1.2em;
}

/* POST CONTENT AND TIME */
.asides-post-cont {
    display: flex;
    align-items: flex-start;
    gap: 1rem; /* Space between time and content */
}

.post-time {
    flex-shrink: 0;
    margin-right: 1rem;
    text-align: right;
    white-space: nowrap; /* Prevents text wrapping */
    color: #777;
}

.post-time a {
    color: #777;
}

.post-time a:hover {
    color: #fff;
}

.asides-content {
    flex: 1; /* Occupies remaining space */
}

.asides-content a {
    text-decoration: underline;
}

.asides-content code {
    background: #333;
    padding: 2px 6px;
    font-size: 0.85em;
}

.linkding-notes p {
    margin-bottom: 1.2em;
}

/* FOOTER STYLES */
.asides-footer {
    padding-left: 20px;
    margin-top: 1em;
    font-size: 0.7em;
    font-weight: 200;
    text-transform: uppercase;
}

.bluesky-footer {
    background: url('/icons/bluesky.png') no-repeat 0;
    background-size: 16px 16px;
}

.linkding-footer {
    background: url('/icons/linkding.png') no-repeat 0 2px;
    background-size: 16px 16px;
}

.gotosocial-footer {
    background: url('/icons/gotosocial.png') no-repeat 0 2px;
    background-size: 16px 16px; 
}

.asides-footer a {
    text-decoration: none;
}

/* BLOCKQUOTE STYLES */
.asides-content blockquote {
    font-style: italic;
    font-size: 0.9em;
    color: #ddd;
    border-left: 4px solid #494871;
    background-color: #222;
    padding: 1rem;
    margin: 1.5rem 0;
    border-radius: 5px;
}

.asides-content blockquote p {
    margin: 0.7em 0;
}

.asides-content blockquote ul {
    margin-left: 2em;
}

.asides-content blockquote ul li {
    margin-bottom: 0.5em;
}

/* LINKDING BACKLINK */
a.ld-backlink {
    margin-right: 0.4em;
}

article.asides-post p {
    margin-bottom: 1em;
}

.asides-post pre code {
    padding: 10px;
    display: grid
;
}