.linkcard {
    border: 1px solid #3a3a3a;
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px;
  }
  
  .linkcard-wrapper {
    display: unset;
    text-decoration: none;
    color: inherit;
  }
  
  .linkcard-content {
    display: flex;
    flex-direction: column;
  }
  
  .linkcard-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px;
  }
  
  .linkcard-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 0 !important;
}

h3.linkcard-title {
  margin: 0 0 0.8em 0;
}