{{- $asideType := .asides.Params.aside_type -}}
{{- $currentDate := .asides.Date.Format "2006-01-02" -}}

<article class="asides-post {{ $asideType }}-post {{ $asideType }}-{{ .asidesClass }} asides-{{ .asidesClass }}">
  {{- if eq .asidesClass "single" -}}
    <header class="post-header">
      {{/* partial "breadcrumbs.html" . */}}
      <h1 class="{{ $asideType }}-title">
        {{ if eq $asideType "bluesky" }}
          <a href="https://bsky.app/profile/deuts.hamili.net">@deuts.hamili.net</a>
        {{ else if eq $asideType "linkding" }}
          <a href="https://bm.deuts.org">bm.deuts.org</a>
        {{ else if eq $asideType "gotosocial" }}
          <a href="https://deuts.one/@deuts">@deuts@deuts.one</a>
        {{ else }}
          Please assign an aside_type to this post.
        {{ end }}
      </h1>
    </header>
  {{- end -}}
  
  {{- if ne $currentDate .lastDate }}
    <div class="asides-post-date {{ .hapd }}">
      {{ .asides.Date.Format "January 2, 2006" }}
    </div>
  {{- end }}

  <div class="{{ $asideType }}-post-cont asides-post-cont">
    <div class="post-time">
      <span title="{{ .Date }}">
        {{ if eq .asidesClass "single" }}
          {{ .asides.Date.Format "15:04" }}
        {{ else }}
          <a href="{{ .asides.Permalink }}" aria-label="Link to the post">{{ .asides.Date.Format "15:04" }}</a>
        {{ end }}
      </span>
    </div>
    <div class="{{ $asideType }}-content asides-content">
      {{ .asides.Content }}
      <div class="{{ $asideType }}-footer asides-footer">
        {{ if eq $asideType "bluesky" }}
          <a href="{{ .asides.Params.link }}" aria-label="Link to bsky">{{ .asides.Params.atpid }}</a>
        {{ else if eq $asideType "linkding" }}
          <a href="https://bm.deuts.org/bookmarks/shared?details={{ .asides.Params.ld_id }}" class="ld-backlink">BM{{ .asides.Params.ld_id }}</a>
          {{ if .asides.Params.atags }}
            {{ $tagsLength := len .asides.Params.atags }}
            {{ range $index, $tag := .asides.Params.atags }}
              <a href="/k/{{ lower $tag }}/">{{ $tag }}</a>{{ if ne $index (sub $tagsLength 1) }},{{ end }}
            {{ end }}
          {{ end }}
        {{ else if eq $asideType "gotosocial" }}
          <a href="{{ .asides.Params.link }}" aria-label="Link to gotosocial">{{ .asides.Params.gtsid }}</a>
        {{ end }}
      </div>
    </div>
  </div>
</article>