<script src="https://giscus.app/client.js"
        data-repo="deuts/deuts.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnk0NDI5MTQ2OA=="
        data-category="Deuts Log Comments"
        data-category-id="DIC_kwDOAqPVjM4CkMDD"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="transparent_dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
